@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Bem-vindo!</h1>
        <h3>Este é um CRUD<strong>(CREATE, READ, UPDATE, DELETE)</strong></h3>
        <h4>Adicione, edite e delete fornecedores conforme a sua vontade!</h4>
        <p>Este Web site foi desenvolvido usando o <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core!</a>.</p>
    </div>

    <div id="imagens">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <img src="~/comercio.png" alt="comercio" class="img-fluid rounded">
              <p>Adicione comércios no seu CRUD! Indo desde áreas de alimentação até lojas de tecnologia</p>
            </div>
            <div class="col-md-4">
              <img src="~/servico.png" alt="servico" class="img-fluid rounded">
              <p>Mostre as empresas que oferecem serviços de qualidade aos clientes!</p>
            </div>
            <div class="col-md-4">
              <img src="~/industria.png" alt="industria" class="img-fluid rounded">
              <p>Coloque indústrias importantes na sua lista e tenha sempre opções!</p>
            </div>
          </div>
        </div>
    </div>
    
</body>
</html>



