@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>Não há licenças aqui! Você é livre para usar e modificar este projeto à vontade :)</p>
<p>Feito com carinho pelo Felipe-exec</p>
